@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: 'sansita_swashed', sans-serif;
}
body {
 color: #2B5359;
 font-family: 'poppins', sans-serif;
}